html, body, header, nav, h1, a,
ul, li, main, button, i,
section, div, h2, p, form, label, input, textarea,
span, {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

#main {
  font-family: 'Source Sans Pro', sans-serif;
}

.clock {
  width: 300px;
  display: block;
  margin: auto;
}

.items {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /*border: 1px solid black;*/
  background-color: lightblue;
}

.labels {
  /*border: 1px solid black;*/
}
div.display {
  /*border: 1px solid black;*/
}
